[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
pydantic = "*"
uvicorn = "*"
bs4 = "*"
tortoise-orm = "*"
asyncpg = "*"
pytest = "*"
requests = "*"
pytest-cov = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"

[dev-packages]
debugpy = "*"

[requires]
python_version = "3.9"
