[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]
debugpy = "*"

[requires]
python_version = "3.9"
